In [2]:
import numpy as np
import pandas as pd

In [3]:
#read in; had to use converters b/c the truck names had mixed types
df = pd.read_csv("20180101.csv", parse_dates=['date_fixed'], converters={'truck_name': str})

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39784 entries, 0 to 39783
Data columns (total 5 columns):
truck_name    39784 non-null object
date_fixed    39784 non-null datetime64[ns]
address       38861 non-null object
longitude     39784 non-null float64
latitude      39784 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 1.5+ MB

### Dates are Pandas Timestamps

In [28]:
df.loc[1700,'date_fixed']

Timestamp('2018-01-01 16:25:29')

### Use Timedelta method to shift time

In [29]:
df.loc[1700,'date_fixed'] - pd.Timedelta(hours=5)

Timestamp('2018-01-01 11:25:29')

In [6]:
#stripping white space from the truck names
df['truck_name'] = df['truck_name'].str.strip()

In [11]:
#sorted by truck then date/time
df = df.sort_values(by=['truck_name','date_fixed'],na_position='first')

In [30]:
df['date_fixed'] = df['date_fixed'] - pd.Timedelta(hours=5)

In [28]:
#test subset 
df4= df3[15000:15200]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39784 entries, 8427 to 34783
Data columns (total 5 columns):
truck_name    39784 non-null object
date_fixed    39784 non-null datetime64[ns]
address       38861 non-null object
longitude     39784 non-null float64
latitude      39784 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 3.1+ MB

In [36]:
df[1700:1800]

,truck_name,date_fixed,address,longitude,latitude
204,178,2018-01-01 23:43:42,1392 ERIE BLVD E SYRACUSE 13210,-76.127819,43.050415
307,178,2018-01-01 23:43:54,1401-23 ERIE BLVD E & BEECH ST N,-76.126873,43.050237
408,178,2018-01-01 23:44:31,1636 ERIE BLVD E & COLUMBUS AV,-76.121783,43.049313
512,178,2018-01-01 23:44:49,1710 ERIE BLVD E,-76.120847,43.049439
539,178,2018-01-01 23:45:34,1915 ERIE BLVD E & PEAT ST & K,-76.115285,43.051184
542,178,2018-01-01 23:45:48,1915 ERIE BLVD E & PEAT ST & K,-76.115186,43.051675
546,178,2018-01-01 23:46:25,338 PEAT ST & CANAL ST,-76.115314,43.054301
550,178,2018-01-01 23:46:33,340 PEAT ST,-76.114919,43.054249
554,178,2018-01-01 23:46:45,418 PEAT ST REAR,-76.114109,43.054127
558,178,2018-01-01 23:47:43,1200 CANAL ST,-76.109290,43.055286
683,178,2018-01-01 23:48:42,1200 CANAL ST,-76.109174,43.055285
723,178,2018-01-01 23:49:42,1200 CANAL ST,-76.109190,43.055305
724,178,2018-01-01 23:50:42,1200 CANAL ST,-76.109224,43.055325
725,178,2018-01-01 23:51:42,1200 CANAL ST,-76.109210,43.055316
726,178,2018-01-01 23:52:42,1200 CANAL ST,-76.109206,43.055311
727,178,2018-01-01 23:53:42,1200 CANAL ST,-76.109195,43.055320
728,178,2018-01-01 23:54:42,1200 CANAL ST,-76.109216,43.055324
729,178,2018-01-01 23:55:42,1200 CANAL ST,-76.109209,43.055300
730,178,2018-01-01 23:56:42,1200 CANAL ST,-76.109194,43.055309
731,178,2018-01-01 23:57:42,1200 CANAL ST,-76.109192,43.055316
732,178,2018-01-01 23:58:42,1200 CANAL ST,-76.109163,43.055305
733,178,2018-01-01 23:59:42,1200 CANAL ST,-76.109188,43.055314
734,179,2018-01-01 06:22:14,1200 CANAL ST,-76.108742,43.055222
735,179,2018-01-01 06:22:16,1200 CANAL ST,-76.108742,43.055222
736,179,2018-01-01 06:23:17,1200 CANAL ST,-76.108742,43.055222
737,179,2018-01-01 06:24:17,1200 CANAL ST,-76.108742,43.055222
738,179,2018-01-01 06:25:17,1200 CANAL ST,-76.108742,43.055222
739,179,2018-01-01 06:26:17,1200 CANAL ST,-76.108742,43.055222
740,179,2018-01-01 06:27:17,1200 CANAL ST,-76.108742,43.055222
741,179,2018-01-01 06:28:17,1200 CANAL ST,-76.108742,43.055222
...,...,...,...,...,...
782,179,2018-01-01 06:53:35,1915 ERIE BLVD E & PEAT ST & K,-76.115230,43.051446
783,179,2018-01-01 06:53:52,1915 ERIE BLVD E & PEAT ST & K,-76.115597,43.051201
784,179,2018-01-01 06:53:53,1915 ERIE BLVD E & PEAT ST & K,-76.115786,43.051147
785,179,2018-01-01 06:54:53,1522-34 ERIE BLVD E & CHERRY ST &,-76.123601,43.049445
786,179,2018-01-01 06:55:48,1101-43 ERIE BLVD E & UNIVERSITY,-76.133457,43.050705
787,179,2018-01-01 06:56:43,629 ERIE BLVD E SYRACUSE 13202,-76.143340,43.050862
788,179,2018-01-01 06:57:00,500 ERIE BLVD E & TOWNSEND ST,-76.145157,43.050896
789,179,2018-01-01 06:57:18,421 WATER ST E & TOWNSEND ST,-76.146059,43.050864
790,179,2018-01-01 06:57:35,327-35 WATER ST E & STATE ST S &,-76.147462,43.050705
791,179,2018-01-01 06:58:34,401 MONTGOMERY ST TO STATE ST,-76.147537,43.046771
792,179,2018-01-01 06:59:02,200 MADISON ST & STATE ST S &,-76.147623,43.044466
793,179,2018-01-01 06:59:10,200 MADISON ST & STATE ST S &,-76.147722,43.044343
794,179,2018-01-01 06:59:14,200 MADISON ST & STATE ST S &,-76.147967,43.044359
795,179,2018-01-01 06:59:56,100-08 ONONDAGA ST E & WARREN ST,-76.151995,43.044349
796,179,2018-01-01 07:00:22,484-98 SALINA ST S & ONONDAGA ST,-76.152169,43.044371
797,179,2018-01-01 07:00:37,130-44 ONONDAGA ST W & CLINTON S,-76.153075,43.043843
798,179,2018-01-01 07:01:18,130-44 ONONDAGA ST W & CLINTON S,-76.153207,43.043793
799,179,2018-01-01 07:02:18,441 ONONDAGA ST W & MIDLAND A,-76.158106,43.040172
800,179,2018-01-01 07:03:18,752 ONONDAGA ST W,-76.163697,43.036043
801,179,2018-01-01 07:04:18,204 ONONDAGA AVE,-76.164771,43.032504
802,179,2018-01-01 07:05:07,326 ONONDAGA AVE,-76.164840,43.030780
803,179,2018-01-01 07:05:18,332 ONONDAGA AVE,-76.164816,43.030515
804,179,2018-01-01 07:05:54,408 ONONDAGA AVE,-76.164537,43.029477
805,179,2018-01-01 07:06:34,408 ONONDAGA AVE,-76.164538,43.029654
806,179,2018-01-01 07:06:48,408 ONONDAGA AVE,-76.164529,43.029467
807,179,2018-01-01 07:07:44,408 ONONDAGA AVE,-76.164553,43.029618
808,179,2018-01-01 07:08:13,336 ONONDAGA AVE,-76.164758,43.030330
809,179,2018-01-01 07:08:29,332 ONONDAGA AVE,-76.164794,43.030676
810,179,2018-01-01 07:08:58,300 ONONDAGA AVE,-76.164882,43.031633
811,179,2018-01-01 07:09:15,219 ONONDAGA AVE & STERLING A,-76.164701,43.031746

In [37]:
# get the manhattan distance between consecutive data points
df['manh_dist'] = abs(df.longitude - df.longitude.shift()) + abs(df.latitude - df.latitude.shift())

In [42]:
df[df.manh_dist > .01].count()

truck_name    239
date_fixed    239
address       236
longitude     239
latitude      239
manh_dist     239
dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39784 entries, 8427 to 34783
Data columns (total 6 columns):
truck_name    39784 non-null object
date_fixed    39784 non-null datetime64[ns]
address       38861 non-null object
longitude     39784 non-null float64
latitude      39784 non-null float64
manh_dist     39783 non-null float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 3.4+ MB

In [44]:
#how many data points per truck
df.groupby('truck_name').size()

truck_name
178     1722
179     1682
182        6
206      143
207        1
208        1
210     1285
211        1
212     1288
216     4065
251     3811
253        1
254       47
257        1
258      626
259       27
260.       1
261     3341
262        1
263     3272
264     2364
265     3461
266     2004
267        1
268      686
269        1
270        6
271     2398
282     2203
284     2234
285     2667
73       437
dtype: int64

# Left off here. Create an 'ID' column, which is a mapping from a point to a road segment

# Below here is not used

In [116]:
#NOT USED; generate test dataframe
test_row_iter = pd.DataFrame(np.random.randn(20,3),columns=list('ABC'))

In [118]:
#NOT USED
#for testing: set column C to absolute values
test_row_iter['C'] = abs(test_row_iter['C'])

In [85]:
#NOT USED
#how to iterate over rows and set a boolean value based on a conditional
for i in range(1,len(test_row_iter)):
    if test_row_iter.loc[i, 'C'] > 0:
        test_row_iter.loc[i,'D'] = True

In [120]:
#NOT USED
#set first boolean of the 'Keep' column to 'True', since we always want to keep the first data point
test_row_iter.loc[0,'Keep'] = True
#create a boolean column based on an the accumulated value of a column
threshhold = 2.
cum_dist = 0.
for i in range(1,len(test_row_iter)):
    if test_row_iter.loc[i, 'C'] + cum_dist > threshhold:
        test_row_iter.loc[i,'Keep'] = True
        cum_dist = 0
    else:
        test_row_iter.loc[i,'Keep'] = False
        cum_dist += test_row_iter.loc[i, 'C']

In [127]:
#NOT USED
test_row_iter = test_row_iter[test_row_iter.Keep == True]