In [1]:
import numpy as np
import pandas as pd
import pickle
import datetime

### Dates are Pandas Timestamps

In [ ]:
df.loc[1700,'date_fixed']

### Use Timedelta method to shift time

In [ ]:
df.loc[1700,'date_fixed'] - pd.Timedelta(hours=5)

# RUN THESE

In [ ]:
df.head()

In [16]:
#read in; had to use converters b/c the truck names had mixed types
df = pd.read_csv("20180101.csv", parse_dates=['date_fixed'], converters={'truck_name': str})

In [17]:
#stripping white space from the truck names
df['truck_name'] = df['truck_name'].str.strip()
df['address'] =df['address'].str.strip()

In [18]:
#adjust time offset by 5 hours
df['date_fixed'] = df['date_fixed'] - pd.Timedelta(hours=5)

In [19]:
#sorted by truck then date/time
df = df.sort_values(by=['truck_name','date_fixed'],na_position='first')

In [20]:
#reorder the index after sorting
df = df.reset_index(drop=True)

# To here

In [ ]:
# get the manhattan distance between consecutive data points
#df['manh_dist'] = abs(df.longitude - df.longitude.shift()) + abs(df.latitude - df.latitude.shift())

In [ ]:
#filter out close data points
#df = df[df.manh_dist > .0005]

In [ ]:
#filter out unreasonably far data points
#df = df[df.manh_dist < .01]

In [ ]:
dft = df[['truck_name','date_fixed', 'latitude','longitude']]

In [ ]:
#convert to numpy array
dft = dft.values

In [ ]:
#How to get counts of unique values for how many differnt days (there is only 1 day here, i.e. Jan 1)
df['date_fixed'].dt.day.value_counts()

# RUN THESE

In [21]:
#keep only lon,lat
df = df[['truck_name', 'date_fixed', 'longitude','latitude']]

In [22]:
#convert to numpy array
arr = df.values

# Left off here. Create an 'ID' column, which is a mapping from a point to a road segment

# Run Cell below

In [23]:
objID_to_bnd_box = pickle.load( open( "ID_to_bound_box_R2", "rb" ) )

In [ ]:
#test iterrows; delete eventually
tst2 = []
for index, row in df.iterrows():
    tst2.append([index,row])

In [ ]:
# an index and row
tst2[10]

In [ ]:
# a row (as a Series)
tst2[10][1]

In [ ]:
tst2[1000][1].latitude

In [ ]:
objID_to_bnd_box[10]

# Run these two
##  How to incrementally add values to the not yet created 'ID' column?

In [24]:
#add a third column initialized to 'NaN'
arr = np.insert(arr, 4, None, axis=1)

In [25]:
#attempt with just Pandas; slooowwwwwww
cnt = 0
for row in arr:
    lon = row[2]
    lat = row[3]
    for k,v in objID_to_bnd_box.items():
        if lon > min(v[0][0],v[1][0]) and lon < max(v[0][0],v[1][0]) and lat > min(v[0][1],v[1][1]) and lat < max(v[0][1],v[1][1]):
            arr[cnt][4] = k
    cnt += 1

In [26]:
arr[1000]

array(['178', Timestamp('2018-01-01 12:30:59'), -76.1194621330818,
       43.0432602080756, 3282], dtype=object)

In [27]:
df4 = pd.DataFrame(arr)

In [28]:
df4.isnull().sum()

0       0
1       0
2       0
3       0
4    4941
dtype: int64

In [15]:
df4.count()

0    39784
1    39784
2    39784
3    39784
4    34102
dtype: int64

In [13]:
df4[5005:5012]

        0                    1        2        3     4
5005  212  2018-01-01 06:49:08 -76.1322  43.0469  2973
5006  212  2018-01-01 06:49:15 -76.1321  43.0469  2973
5007  212  2018-01-01 06:50:15 -76.1322  43.0445  3087
5008  212  2018-01-01 06:50:23 -76.1322  43.0443  3087
5009  212  2018-01-01 06:50:35 -76.1322   43.044  3234
5010  212  2018-01-01 06:51:35 -76.1323  43.0409  3434
5011  212  2018-01-01 06:51:47 -76.1324  43.0405  3435

In [46]:
arr[5005:5012]

array([['212', Timestamp('2018-01-01 06:49:08'), -76.132157937464,
        43.0469119082557, 2845],
       ['212', Timestamp('2018-01-01 06:49:15'), -76.13209493744391,
        43.0469174082592, None],
       ['212', Timestamp('2018-01-01 06:50:15'), -76.13220163730821,
        43.044548407819605, None],
       ['212', Timestamp('2018-01-01 06:50:23'), -76.1322167372971,
        43.044326207778205, None],
       ['212', Timestamp('2018-01-01 06:50:35'), -76.1322191372713,
        43.04395720771029, None],
       ['212', Timestamp('2018-01-01 06:51:35'), -76.132272237069,
        43.040903707146995, None],
       ['212', Timestamp('2018-01-01 06:51:47'), -76.1324357370944,
        43.040519907070106, None]], dtype=object)

# Left off here. 
## Check GeoJSON for Walnut between Harrison/Madison to see bounding box. May need to expand certain boxes. But first, build complete chronological array for Jan1-4 and try to complete one data set. Don't forget to order by strictly date before stacking arrays.

In [ ]:
m = np.random.randn(3,5)
q = []
for row in m:
    q.append(row[0])

In [ ]:
np.insert(m, 1, None, axis=1)

In [ ]:
type(q[1])

In [ ]:
df2.head()

# Below here is not used

In [ ]:
#NOT USED; generate test dataframe
test_row_iter = pd.DataFrame(np.random.randn(20,3),columns=list('ABC'))

In [ ]:
#NOT USED
#for testing: set column C to absolute values
test_row_iter['C'] = abs(test_row_iter['C'])

In [ ]:
#NOT USED
#how to iterate over rows and set a boolean value based on a conditional
for i in range(1,len(test_row_iter)):
    if test_row_iter.loc[i, 'C'] > 0:
        test_row_iter.loc[i,'D'] = True

In [ ]:
#NOT USED
#set first boolean of the 'Keep' column to 'True', since we always want to keep the first data point
test_row_iter.loc[0,'Keep'] = True
#create a boolean column based on an the accumulated value of a column
threshhold = 2.
cum_dist = 0.
for i in range(1,len(test_row_iter)):
    if test_row_iter.loc[i, 'C'] + cum_dist > threshhold:
        test_row_iter.loc[i,'Keep'] = True
        cum_dist = 0
    else:
        test_row_iter.loc[i,'Keep'] = False
        cum_dist += test_row_iter.loc[i, 'C']

In [ ]:
#NOT USED
test_row_iter = test_row_iter[test_row_iter.Keep == True]

In [ ]:
dft = pd.DataFrame(np.random.randn(4,3),columns = list("ABC"))

In [ ]:
dft

In [ ]:
dft = dft.sort_values(by = ['A'])

In [ ]:
dft

In [ ]:
for i, r in dft.iterrows():
    #print (i)
    dft.loc[i,'D'] = i

In [ ]:
dft

In [ ]:
dft.reset_index(drop=True)

In [ ]:
ls = []

In [ ]:
ls[3] = 3