In [60]:
import numpy as np
import pandas as pd
import folium

In [82]:
syr_map = folium.Map(location=[43.0493, -76.1455], zoom_start=12)
syr_map

In [75]:
#read in; had to use converters b/c the truck names had mixed types
df = pd.read_csv("plow20170313.csv", converters={'truck_name': str})

In [76]:
# get rid of columns I don't need
df2 = df[['truck_name','date_fixed','longitude','latitude']]

In [64]:
df2.head()

  truck_name   date_fixed  longitude   latitude
0          0  12:00:13 AM -76.111185  43.055578
1         73  12:00:18 AM -76.139755  43.009814
2         73  12:52:29 AM -76.139254  43.009929
3         73  12:52:31 AM -76.139254  43.009929
4         73  12:53:31 AM -76.139254  43.009929

In [77]:
#sorted by truck then date/time
df3 = df2.sort_values(by=['truck_name','date_fixed'],na_position='first')

In [66]:
# get the manhattan distance between consecutive data points
df3['manh_dist'] = abs(df3.longitude - df3.longitude.shift()) + abs(df3.latitude - df3.latitude.shift())

In [78]:
#total count of data points
df3.count()

truck_name    13389
date_fixed    13389
longitude     13389
latitude      13389
dtype: int64

In [79]:
#how many data points per truck
df3.groupby('truck_name').size()

truck_name
0         1
178    1171
179     521
182      89
206     257
208     587
210     595
212       1
216    1443
253       1
257       1
258     172
259     186
261     440
262     419
263     706
264     313
265     640
266     419
267     677
268     346
269       1
270     252
271     236
281       1
282      32
283    1883
284     331
285     764
286     897
73        7
dtype: int64

In [80]:
df3.iloc[0:50]

   truck_name   date_fixed  longitude   latitude
0           0  12:00:13 AM -76.111185  43.055578
8         178  12:00:02 AM -76.153367  43.048779
9         178  12:00:03 AM -76.121124  43.054501
10        178  12:00:05 AM -76.104686  43.056121
11        178  12:00:08 AM -76.141248  43.009251
12        178  12:00:08 AM -76.141215  43.009235
13        178  12:00:12 AM -76.111877  43.055123
14        178  12:00:15 AM -76.152460  43.048759
15        178  12:00:16 AM -76.119454  43.070515
16        178  12:00:16 AM -76.103784  43.054800
17        178  12:00:25 AM -76.098819  43.056657
18        178  12:00:27 AM -76.151310  43.048751
19        178  12:00:34 AM -76.145895  43.074086
20        178  12:00:41 AM -76.109840  43.055450
21        178  12:00:42 AM -76.111441  43.055174
22        178  12:00:45 AM -76.149450  43.048423
23        178  12:00:48 AM -76.109777  43.055194
24        178  12:00:49 AM -76.122978  43.072203
25        178  12:00:54 AM -76.108729  43.056330
26        178  12:00:55 AM -76.109881  43.055084
27        178  12:00:57 AM -76.141208  43.009255
28        178  12:01:01 AM -76.110211  43.055097
29        178  12:01:02 AM -76.121425  43.054284
30        178  12:01:04 AM -76.149355  43.047119
31        178  12:01:05 AM -76.123124  43.072966
32        178  12:01:08 AM -76.141255  43.009256
33        178  12:01:08 AM -76.141210  43.009256
34        178  12:01:09 AM -76.149538  43.047057
35        178  12:01:12 AM -76.111874  43.055123
36        178  12:01:12 AM -76.101746  43.054670
37        178  12:01:14 AM -76.150017  43.047063
38        178  12:01:18 AM -76.122970  43.073756
39        178  12:01:25 AM -76.098831  43.056632
40        178  12:01:26 AM -76.104068  43.055230
41        178  12:01:27 AM -76.112126  43.055335
42        178  12:01:34 AM -76.145882  43.074081
43        178  12:01:41 AM -76.104180  43.055520
44        178  12:01:42 AM -76.111453  43.055174
45        178  12:01:44 AM -76.104458  43.055424
46        178  12:01:54 AM -76.108729  43.056330
47        178  12:01:57 AM -76.141177  43.009232
48        178  12:02:02 AM -76.121425  43.054274
49        178  12:02:07 AM -76.153822  43.047017
50        178  12:02:08 AM -76.141268  43.009273
51        178  12:02:08 AM -76.141214  43.009229
52        178  12:02:12 AM -76.111891  43.055131
53        178  12:02:13 AM -76.108942  43.054831
54        178  12:02:17 AM -76.122951  43.073743
55        178  12:02:25 AM -76.098817  43.056631
56        178  12:02:26 AM -76.112156  43.055281

In [42]:
trck_stripped = df3.truck_name.str.strip()

In [81]:
#stripping white space from the truck names
df3['truck_name'] = df3['truck_name'].str.strip()

In [71]:
#create a data frame only containing data for truck 210
truck_210 = df3[df3.truck_name == '210']

In [45]:
#A Manhattan distance of .001 is ~160 meters
df3[df3.manh_dist > .001].count()

truck_name    8866
date_fixed    8866
longitude     8866
latitude      8866
manh_dist     8866
dtype: int64

In [46]:
df3[df3.manh_dist > .005].count()

truck_name    6725
date_fixed    6725
longitude     6725
latitude      6725
manh_dist     6725
dtype: int64

In [47]:
df3[df3.manh_dist > .01].count()

truck_name    5878
date_fixed    5878
longitude     5878
latitude      5878
manh_dist     5878
dtype: int64

In [72]:
truck_210.head()

     truck_name   date_fixed  longitude   latitude  manh_dist
2633        210  12:00:03 AM -76.179509  43.029418   0.098832
2634        210  12:00:04 AM -76.112297  43.054992   0.092786
2635        210  12:00:08 AM -76.111109  43.055502   0.001698
2636        210  12:00:08 AM -76.111180  43.055503   0.000071
2637        210  12:00:29 AM -76.115038  43.051102   0.008260

In [83]:
for index, row in df3.iterrows():
    folium.features.CircleMarker([row['latitude'], row['longitude']], radius=2, fill_color='blue', fill_opacity=0.3,
                                 popup='Time: ' + str(row['date_fixed'])).add_to(syr_map)

In [84]:
syr_map

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.