In [1]:
import numpy as np
import pandas as pd

In [51]:
#read in; had to use converters b/c the truck names had mixed types
df = pd.read_csv("plow20170313.csv", converters={'truck_name': str})

In [52]:
# get rid of columns I don't need
df2 = df[['truck_name','date_fixed1','longitude','latitude']]

In [53]:
df2.head()

  truck_name date_fixed1  longitude   latitude
0          0     01:25.0 -76.111185  43.055578
1         73     56:12.0 -76.139755  43.009814
2         73     01:27.0 -76.139254  43.009929
3         73     01:27.0 -76.139254  43.009929
4         73     01:27.0 -76.139254  43.009929

In [55]:
#sorted by truck then date/time
df3 = df2.sort_values(by=['truck_name','date_fixed1'],na_position='first')

In [56]:
# get the manhattan distance between consecutive data points
df3['manh_dist'] = abs(df3.longitude - df3.longitude.shift()) + abs(df3.latitude - df3.latitude.shift())

In [57]:
#total count of data points
df3.count()

truck_name     13389
date_fixed1    13389
longitude      13389
latitude       13389
manh_dist      13388
dtype: int64

In [58]:
#how many data points per truck
df3.groupby('truck_name').size()

truck_name
0         1
178    1171
179     521
182      89
206     257
208     587
210     595
212       1
216    1443
253       1
257       1
258     172
259     186
261     440
262     419
263     706
264     313
265     640
266     419
267     677
268     346
269       1
270     252
271     236
281       1
282      32
283    1883
284     331
285     764
286     897
73        7
dtype: int64

In [59]:
df3.iloc[0:50]

   truck_name date_fixed1  longitude   latitude  manh_dist
0           0     01:25.0 -76.111185  43.055578        NaN
8         178     00:02.0 -76.153367  43.048779   0.048981
9         178     00:04.0 -76.121124  43.054501   0.037966
10        178     00:06.0 -76.104686  43.056121   0.018058
11        178     00:08.0 -76.141248  43.009251   0.083432
12        178     00:08.0 -76.141215  43.009235   0.000049
13        178     00:13.0 -76.111877  43.055123   0.075226
14        178     00:15.0 -76.152460  43.048759   0.046947
15        178     00:17.0 -76.119454  43.070515   0.054761
16        178     00:17.0 -76.103784  43.054800   0.031385
17        178     00:26.0 -76.098819  43.056657   0.006822
18        178     00:27.0 -76.151310  43.048751   0.060397
19        178     00:34.0 -76.145895  43.074086   0.030750
20        178     00:41.0 -76.109840  43.055450   0.054690
21        178     00:43.0 -76.111441  43.055174   0.001878
22        178     00:45.0 -76.149450  43.048423   0.044759
23        178     00:48.0 -76.109777  43.055194   0.046444
24        178     00:50.0 -76.122978  43.072203   0.030210
26        178     00:55.0 -76.109881  43.055084   0.030216
27        178     00:57.0 -76.141208  43.009255   0.077156
28        178     01:01.0 -76.110211  43.055097   0.076838
29        178     01:03.0 -76.121425  43.054284   0.012027
30        178     01:04.0 -76.149355  43.047119   0.035095
31        178     01:06.0 -76.123124  43.072966   0.052078
32        178     01:08.0 -76.141255  43.009256   0.081841
33        178     01:08.0 -76.141210  43.009256   0.000045
34        178     01:09.0 -76.149538  43.047057   0.046129
35        178     01:13.0 -76.111874  43.055123   0.045730
36        178     01:13.0 -76.101746  43.054670   0.010581
37        178     01:14.0 -76.150017  43.047063   0.055878
38        178     01:19.0 -76.122970  43.073756   0.053741
39        178     01:26.0 -76.098831  43.056632   0.041263
40        178     01:26.0 -76.104068  43.055230   0.006639
41        178     01:27.0 -76.112126  43.055335   0.008163
42        178     01:34.0 -76.145882  43.074081   0.052503
43        178     01:41.0 -76.104180  43.055520   0.060264
44        178     01:43.0 -76.111453  43.055174   0.007619
45        178     01:45.0 -76.104458  43.055424   0.007245
47        178     01:57.0 -76.141177  43.009232   0.082911
48        178     02:03.0 -76.121425  43.054274   0.064794
49        178     02:07.0 -76.153822  43.047017   0.039654
50        178     02:08.0 -76.141268  43.009273   0.050298
51        178     02:08.0 -76.141214  43.009229   0.000098
52        178     02:13.0 -76.111891  43.055131   0.075225
53        178     02:13.0 -76.108942  43.054831   0.003249
54        178     02:18.0 -76.122951  43.073743   0.032921
55        178     02:26.0 -76.098817  43.056631   0.041246
56        178     02:26.0 -76.112156  43.055281   0.014689
57        178     02:34.0 -76.145939  43.073996   0.052498
58        178     02:40.0 -76.145778  43.073915   0.000242

In [42]:
trck_stripped = df3.truck_name.str.strip()

In [43]:
#stripping white space from the truck names
df3['truck_name'] = df3['truck_name'].str.strip()

In [44]:
#create a data frame only containing data for truck 210
truck_210 = df3[df3.truck_name == '210']

In [45]:
#A Manhattan distance of .001 is ~160 meters
df3[df3.manh_dist > .001].count()

truck_name    8866
date_fixed    8866
longitude     8866
latitude      8866
manh_dist     8866
dtype: int64

In [46]:
df3[df3.manh_dist > .005].count()

truck_name    6725
date_fixed    6725
longitude     6725
latitude      6725
manh_dist     6725
dtype: int64

In [47]:
df3[df3.manh_dist > .01].count()

truck_name    5878
date_fixed    5878
longitude     5878
latitude      5878
manh_dist     5878
dtype: int64